.password-auth-ctrl{
  margin-bottom: 2em;
}

.password-auth-ctrl  > i {
  position: absolute;
  padding-top: 0.45em;
  padding-left: 0.3em;
  font-size: 1.75em;
  z-index: 100;
}

input#secret {
  all: inherit;
  border: 0.1em solid #f2f2f2;
  border-radius: 0.1em;
  line-height: 2em !important;
  font-size: 1.25em !important;
  font-weight: 400;
  color: #3b3b3b !important;
  padding-left: 2em;
  padding-right: 0.5em;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

input#secret:focus {
  border: 0.1em solid #62b5f8;
}

.password-auth-btn {
  text-align: center;
  padding-bottom: 1em;
}

/* Add left margin to the buttons, except the first one */
.password-auth-btn button:not(:first-child) {
  margin-left: 0.5em;
}

.mfa-auth-help-text p {
  font-weight: 300;
}

.mfa-auth-help-menu p {
  font-weight: 500;
}
