<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <title>{{ .MetaTitle }} - {{ .PageTitle }}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{ .MetaDescription }}" />
    <meta name="author" content="{{ .MetaAuthor }}" />
    <link rel="icon" href="{{ pathjoin .ActionEndpoint "/assets/images/favicon.svg" }}" type="image/svg+xml">
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/google-webfonts/roboto.css" }}" />
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/line-awesome/line-awesome.css" }}" />
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/css/generic.css" }}" />

    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/css/basic.css" }}">
    {{ if .CustomCSSEnabled }}<link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/css/custom.css" }}">{{ end }}
  </head>

  <body class="basic-theme h-full">
    <div class="app-page">
      <div class="app-content">
        <main class="app-container" aria-labelledby="generic-title">
          <div class="brand-banner" aria-hidden="true"></div>
          <header class="brand-heading">
            {{ if .LogoURL }}<img class="logo-img" src="{{ .LogoURL }}" alt="{{ .LogoDescription }}">{{ end }}
            <h1 id="generic-title">{{ .PageTitle }}</h1>
          </header>
          <p class="brand-message">{{ .Data.message }}</p>
          {{ if .Data.go_back_url }}
          <div class="app-gen-btn-box">
            <a href="{{ .Data.go_back_url }}" class="app-gen-btn-txt">{{ .Data.i18n_go_back_action }}</a>
          </div>
          {{ end }}
        </main>
      </div>
    </div>
    <!-- JavaScript -->
    <script src="{{ pathjoin .ActionEndpoint "/assets/js/generic.js" }}"></script>
    {{ if eq .Data.ui_options.custom_js_required "yes" }}
      <script src="{{ pathjoin .ActionEndpoint "/assets/js/custom.js" }}"></script>
    {{ end }}
  </body>
</html>
