<!DOCTYPE html>
<html lang="en" class="h-full bg-blue-100">
  <head>
    <title>{{ .MetaTitle }} - {{ .PageTitle }}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{ .MetaDescription }}" />
    <meta name="author" content="{{ .MetaAuthor }}" />
    <link rel="shortcut icon" href="{{ pathjoin .ActionEndpoint "/assets/images/favicon.png" }}" type="image/png" />
    <link rel="icon" href="{{ pathjoin .ActionEndpoint "/assets/images/favicon.png" }}" type="image/png" />
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/line-awesome/line-awesome.css" }}" />
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/google-webfonts/roboto.css" }}" />
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/google-webfonts/montserrat.css" }}" />
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/css/register.css" }}" />
    {{ if eq .Data.ui_options.custom_css_required "yes" }}
      <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/css/custom.css" }}" />
    {{ end }}
  </head>

  <body class="h-full">
    <div class="app-page">
      <div class="app-content {{ if eq .Data.view "register" }}md:max-w-2xl lg:max-w-4xl{{ end }}">
        <div class="app-container">
          <div class="logo-col-box justify-center">
            {{ if .LogoURL }}
              <div>
                <img class="logo-img" src="{{ .LogoURL }}" alt="{{ .LogoDescription }}" />
              </div>
            {{ end }}
            <div>
              <h2 class="logo-col-txt">{{ .PageTitle }}</h2>
            </div>
          </div>

          {{ if .Message }}
          <div id="alerts" class="rounded-md bg-red-50 p-4">
            <div class="flex items-center">
              <div class="flex-shrink-0"><i class="las la-exclamation-triangle text-2xl text-red-600"></i></div>
              <div class="ml-3"><p class="text-sm font-medium text-red-800">{{ .Message }}</p></div>
              <div class="ml-auto pl-3">
                <div class="-mx-1.5 -my-1.5">
                  <button type="button" onclick="hideAlert(); return false;" class="app-alert-banner">
                    <span class="sr-only">Dismiss</span>
                    <i class="las la-times text-2xl text-red-600"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          {{ end }}

          <div class="mt-3">
              {{ if eq .Data.view "register" }}
              <form method="POST" action="{{ pathjoin .ActionEndpoint "/register" }}" class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
              {{ end }}

              {{ if eq .Data.view "ack" }}
              <form method="POST" action="{{ pathjoin .ActionEndpoint "/register/ack" .Data.registration_id }}">
              {{ end }}

              {{ if eq .Data.view "register" }}
                <div>
                  <label for="registrant" class="app-gen-inp-lbl">Username</label>
                  <div class="mt-1">
                    <input id="registrant" name="registrant" type="text" 
                      class="app-gen-inp-txt validate"
                      pattern="{{ .Data.username_validate_pattern }}"
                      title="{{ .Data.username_validate_title }}"
                      autocorrect="off" autocapitalize="off" autocomplete="username" spellcheck="false"
                      required
                      />
                  </div>
                </div>
                <div>
                  <label for="registrant_password" class="app-gen-inp-lbl">Password</label>
                  <div class="mt-1">
                    <input type="password" name="registrant_password" id="registrant_password"
                      class="app-gen-inp-txt validate"
                      pattern="{{ .Data.password_validate_pattern }}"
                      title="{{ .Data.password_validate_title }}"
                      autocorrect="off" autocapitalize="off" autocomplete="new-password" spellcheck="false"
                      required
                    />
                  </div>
                </div>
                <div>
                  <label for="registrant_email" class="app-gen-inp-lbl">Email</label>
                  <div class="mt-1">
                    <input id="registrant_email" name="registrant_email" type="email" autocomplete="email"
                      class="app-gen-inp-txt validate" 
                      autocorrect="off" autocapitalize="off" autocomplete="email" spellcheck="false"
                      required
                    />
                  </div>
                </div>
                <div>
                  <label for="first_name" class="app-gen-inp-lbl">First name</label>
                  <div class="mt-1">
                    <input type="text" name="first_name" id="first_name"
                      class="app-gen-inp-txt"
                      autocorrect="off" autocapitalize="off" autocomplete="given-name" spellcheck="false"
                    />
                  </div>
                </div>
                <div>
                  <label for="last_name" class="app-gen-inp-lbl">Last name</label>
                  <div class="mt-1">
                    <input type="text" name="last_name" id="last_name"
                      class="app-gen-inp-txt"
                      autocorrect="off" autocapitalize="off" autocomplete="family-name" spellcheck="false"
                    />
                  </div>
                </div>

                {{ if .Data.require_registration_code }}
                <div>
                  <label for="registrant_code" class="app-gen-inp-lbl">Registration Code</label>
                  <div class="mt-1">
                    <input type="text" id="registrant_code" name="registrant_code"
                      class="app-gen-inp-txt validate"
                      autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false"
                    />
                  </div>
                </div>
                {{ end }}

                {{ if .Data.require_accept_terms }}
                <div class="sm:col-span-2">
                  <div class="flex items-start">
                    <div class="flex-shrink-0">
                      <input id="accept_terms" name="accept_terms" type="checkbox" 
                        aria-describedby="comments-description"
                        class="focus:ring-primary-500 h-4 w-4 text-primary-600 border-gray-300 rounded"
                        required
                      />
                    </div>
                    <div class="ml-3">
                      <p class="text-base text-gray-500">
                        By selecting this, you agree to the
                        <a href="{{ .Data.terms_conditions_link }}" target="_blank" class="font-medium text-gray-700 underline">Terms and Conditions</a>
                        and
                        <a href="{{ .Data.privacy_policy_link }}" target="_blank" class="font-medium text-gray-700 underline">Privacy Policy</a>.
                      </p>
                    </div>
                  </div>
                </div>
                {{ end }}
              {{ end }}

              {{ if eq .Data.view "registered" }}
              <div class="app-txt-section">
                <p>Thank you for registering and we hope you enjoy the experience!</p>
                <p>Here are a few things to keep in mind:</p>
                <ol class="list-decimal pl-8">
                  <li>You should receive your confirmation email within the next 15 minutes.</li>
                  <li>If you still don't see it, please email support so we can resend it to you.</li>
                </ol>
              </div>
              {{ end }}

              {{ if eq .Data.view "ack" }}
              <div class="pb-4">
                <label for="registration_code" class="app-inp-lbl">Passcode</label>
                <div class="app-inp-box">
                  <input id="registration_code" name="registration_code" type="text"
                         class="font-['Montserrat'] app-inp-code-txt validate"
                         pattern="[A-Za-z0-9]{6,8}" maxlength="8"
                         title="The registration code should be 6-8 characters long."
                         autocorrect="off" autocapitalize="off" spellcheck="false" autocomplete="off"
                         required />
                </div>
              </div>
              {{ end }}

              {{ if eq .Data.view "ackfail" }}
              <div class="app-txt-section">
                <p>Unfortunately, things did not go as expected. {{ .Data.message }}.</p>
              </div>
              {{ end }}

              {{ if eq .Data.view "acked" }}

              <div class="app-txt-section">
                <p>Thank you for confirming your registration and validating your email address!</p>
                <p>At this point, once an administrator approves or disapproves your registration,
                  you will get an email about that decision. If approved, you will be able to login with your
                  credentials right away.
                </p>
              </div>
              {{ end }}

              <div class="sm:col-span-2">
                <div class="flex gap-4 justify-end">
                  {{ if eq .Data.view "register" }}
                  <a href="{{ .ActionEndpoint }}">
                    <button type="button" name="portal" class="app-btn-sec">
                      <div><i class="las la-home"></i></div>
                      <div class="pl-1 pr-2"><span>Home</span></div>
                    </button>
                  </a>
                  <button type="reset" name="reset" class="app-btn-sec">
                    <div><i class="las la-redo-alt"></i></i></div>
                    <div class="pl-1 pr-2"><span>Clear</span></div>
                  </button>
                  <button type="submit" name="submit" class="app-btn-pri">
                    <div><i class="las la-check"></i></div>
                    <div class="pl-1 pr-2"><span>Submit</span></div>
                  </button>
                  {{ end }}

                  {{ if and (ne .Data.view "register") (ne .Data.view "ack") }}
                  <a href="{{ .ActionEndpoint }}">
                    <button type="button" name="portal" class="app-btn-sec">
                      <div><i class="las la-home"></i></div>
                      <div class="pl-1 pr-2"><span>Home</span></div>
                    </button>
                  </a>
                  {{ end }}

                  {{ if eq .Data.view "ack" }}
                  <a href="{{ .ActionEndpoint }}">
                    <button type="button" name="portal" class="app-btn-sec">
                      <div><i class="las la-home"></i></div>
                    </button>
                  </a>
                  <button type="reset" name="reset" class="app-btn-sec">
                    <div><i class="las la-redo-alt"></i></i></div>
                    <div class="pl-1 pr-2"><span>Clear</span></div>
                  </button>
                  <button type="submit" name="submit" class="app-btn-pri">
                    <div><i class="las la-check"></i></div>
                    <div class="pl-1 pr-2"><span>Submit</span></div>
                  </button>
                  {{ end }}
                </div>
              </div>

            {{ if or (eq .Data.view "register") (eq .Data.view "ack") }}
            </form>
            {{ end }}
            
          </div>
        </div>
      </div>
    </div>
    <!-- JavaScript -->
    <script src="{{ pathjoin .ActionEndpoint "/assets/js/register.js" }}"></script>
    {{ if eq .Data.ui_options.custom_js_required "yes" }}
      <script src="{{ pathjoin .ActionEndpoint "/assets/js/custom.js" }}"></script>
    {{ end }}
    {{ if .Message }}
    <script>
    function hideAlert() {
      document.getElementById("alerts").remove();
    }
    </script>
    {{ end }}
  </body>
</html>
