<!doctype html>
<html lang="en">
  <head>
    <title>{{ .Title }}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Authentication Portal">
    <meta name="author" content="Paul Greenberg github.com/greenpau">
    <link rel="shortcut icon" href="{{ pathjoin .ActionEndpoint "/assets/images/favicon.png" }}" type="image/png">
    <link rel="icon" href="{{ pathjoin .ActionEndpoint "/assets/images/favicon.png" }}" type="image/png">

		<!-- Matrialize CSS -->
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/materialize-css/css/materialize.css" }}" />
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/google-webfonts/roboto.css" }}" />
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/google-webfonts/montserrat.css" }}" />
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/line-awesome/line-awesome.css" }}" />
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/css/styles.css" }}" />
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/css/register.css" }}" />
    {{ if eq .Data.ui_options.custom_css_required "yes" }}
    <link rel="stylesheet" href="{{ pathjoin .ActionEndpoint "/assets/css/custom.css" }}" />
    {{ end }}
  </head>
  <body class="app-body">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l6 offset-l3 registration-container">
          {{ if eq .Data.view "register" }}
          <form action="{{ pathjoin .ActionEndpoint "/register" }}" method="POST">
          {{ end }}
          {{ if eq .Data.view "ack" }}
          <form action="{{ pathjoin .ActionEndpoint "/register/ack" .Data.registration_id }}" method="POST">
          {{ end }}
          <div class="card card-large app-card">
            <div class="card-content">
              <span class="card-title center-align">
                <div class="section app-header">
                  {{ if .LogoURL }}
                  <img class="d-block mx-auto mb-2" src="{{ .LogoURL }}" alt="{{ .LogoDescription }}" width="72" height="72">
                  {{ end }}
                  <h4>{{ .Title }}</h4>
                </div>
              </span>
              {{ if eq .Data.view "register" }}
              <div class="input-field">
                <input id="registrant" name="registrant" type="text" class="validate"
                  pattern="{{ .Data.username_validate_pattern }}"
                  title="{{ .Data.username_validate_title }}"
                  autocorrect="off" autocapitalize="off" spellcheck="false"
                  autocomplete="off"
                  required />
                <label for="registrant">Username</label>
              </div>
              <div class="input-field">
                <input id="registrant_email" name="registrant_email" type="email" class="validate"
                  autocorrect="off" autocapitalize="off" spellcheck="false"
                  autocomplete="off"
                  required />
                <label for="registrant_email">Email Address</label>
              </div>
              <div class="input-field">
                <input id="registrant_password" name="registrant_password" type="password" class="validate"
                  pattern="{{ .Data.password_validate_pattern }}"
                  title="{{ .Data.password_validate_title }}"
                  autocorrect="off" autocapitalize="off" spellcheck="false"
                  autocomplete="off"
                  required />
                <label for="registrant_password">Password</label>
              </div>
              <div class="input-field">
                <input id="registrant_password_confirm" name="registrant_password_confirm" type="password" class="validate"
                  pattern="{{ .Data.password_validate_pattern }}"
                  title="{{ .Data.password_validate_title }}"
                  autocorrect="off" autocapitalize="off" spellcheck="false"
                  autocomplete="off"
                  required />
                <label for="registrant_password_confirm">Confirm Password</label>
              </div>
              {{ if .Data.require_registration_code }}
              <div class="input-field">
                <input id="registrant_code" name="registrant_code" type="text" class="validate"
                  autocorrect="off" autocapitalize="off" spellcheck="false"
                  autocomplete="off"
                  required />
                <label for="registrant_code">Registration Code</label>
              </div>
              {{ end }}
              {{ if .Data.require_accept_terms }}
              <p>
                <label>
                  <input type="checkbox" id="accept_terms" name="accept_terms" required />
                  <span>I agree to
                    <a href="{{ .Data.terms_conditions_link }}" target="_blank">Terms and Conditions</a> and
                    <a href="{{ .Data.privacy_policy_link }}" target="_blank">Privacy Policy</a>.
                  </span>
                </label>
              </p>
              {{ end }}
              {{ end }}

              {{ if eq .Data.view "registered" }}
              <p style="margin-bottom: 1em">Thank you for registering and we hope you enjoy the experience!</p>
              <p style="margin-bottom: 1em">Here are a few things to keep in mind:</p>
              <ol style="margin-right: 3em">
                <li>You should receive your confirmation email within the next 15 minutes.</li>
                <li>If you still don't see it, please email support so we can resend it to you.</li>
              </ol>
              {{ end }}
              {{ if eq .Data.view "ack" }}
              <p style="margin-bottom: 1em; text-align: center;">Please provide the registration code you received.</p>
              <div class="register-ctrl">
                <input id="registration_code" name="registration_code" type="text" class="register-code validate"
                  autocorrect="off" autocapitalize="off" spellcheck="false"
                  pattern="[A-Za-z0-9]{6,8}" maxlength="8" placeholder="________"
                  title="The registration code should be 6-8 characters long."
                  autocomplete="off"
                  required />
              </div>
              {{ end }}

              {{ if eq .Data.view "ackfail" }}
              <p>Unfortunately, things did not go as expected. {{ .Data.message }}.</p>
              {{ end }}

              {{ if eq .Data.view "acked" }}
              <p style="margin-bottom: 1em">Thank you for confirming your registration and validating your email address!</p>
              <p>At this point, once an administrator approves or disapproves your registration,
                you will get an email about that decision. If approved, you will be able to login with your
                credentials right away.
              </p>
              {{ end }}
            </div>
            <div class="card-action right-align">
              {{ if eq .Data.view "register" }}
              <button type="reset" name="reset" class="btn waves-effect waves-light navbtn active navbtn-last red lighten-1 app-btn">
                <i class="las la-redo-alt app-btn-icon"></i>
                <span class="app-btn-text">Clear</span>
              </button>

              <a href="{{ .ActionEndpoint }}" class="navbtn-last">
                <button type="button" class="waves-effect waves-light btn navbtn active navbtn-last app-btn">
                  <i class="las la-undo left app-btn-icon"></i>
                  <span class="app-btn-text">Back</span>
                </button>
              </a>
              <button type="submit" name="submit" class="waves-effect waves-light btn navbtn active navbtn-last app-btn">
                <i class="las la-chevron-circle-right app-btn-icon"></i>
                <span class="app-btn-text">Submit</span>
              </button>
              {{ end }}

              {{ if ne .Data.view "register" }}
              <a href="{{ .ActionEndpoint }}" class="navbtn-last">
                <button type="button" class="btn waves-effect waves-light navbtn active navbtn-last app-btn">
                  <i class="las la-home left app-btn-icon"></i>
                  <span class="app-btn-text">Portal</span>
                </button>
              </a>
              {{ if eq .Data.view "ack" }}
              <button type="reset" name="reset" class="btn waves-effect waves-light navbtn active navbtn-last red lighten-1 app-btn">
                <i class="las la-redo-alt left app-btn-icon"></i>
              </button>
              <button type="submit" name="submit" class="btn waves-effect waves-light navbtn active navbtn-last app-btn">
                <i class="las la-check-square left app-btn-icon"></i>
                <span class="app-btn-text">Submit</span>
              </button>
              {{ end }}
              {{ end }}
            </div>
          </div>
          {{ if or (eq .Data.view "register") (eq .Data.view "ack") }}
          </form>
          {{ end }}
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <script src="{{ pathjoin .ActionEndpoint "/assets/materialize-css/js/materialize.js" }}"></script>
    {{ if eq .Data.ui_options.custom_js_required "yes" }}
    <script src="{{ pathjoin .ActionEndpoint "/assets/js/custom.js" }}"></script>
    {{ end }}
    {{ if .Message }}
    <script>
    var toastHTML = '<span>{{ .Message }}</span><button class="btn-flat toast-action" onclick="M.Toast.dismissAll();">Close</button>';
    toastElement = M.toast({
      html: toastHTML,
      classes: 'toast-error',
      displayLength: 10000
    });
    const appContainer = document.querySelector('.registration-container')
    appContainer.prepend(toastElement.el)
    </script>
    {{ end }}
  </body>
</html>
