<html>
  <body>
    <p>
      Please confirm your registration by clicking this
      <a href="{{ .registration_url }}/ack/{{ .registration_id }}">link</a>
      and providing the registration code <b><code>{{ .registration_code }}</code></b>
      within the next 45 minutes. If you haven't done so, please re-register.
    </p>

    <p>The registation metadata follows:</p>
    <ul style="list-style-type: disc">
      <li>Session ID: {{ .session_id }}</li>
      <li>Request ID: {{ .request_id }}</li>
      <li>Username: <code>{{ .username }}</code></li>
      <li>Email: <code>{{ .email }}</code></li>
      <li>IP Address: <code>{{ .src_ip }}</code></li>
      <li>Timestamp: {{ .timestamp }}</li>
    </ul>
  </body>
</html>
