<html>
  <body>
    <p>
      The following user successfully registered with the portal.
      Please use management interface to approve or decline the registration.
    </p>

    <p>The registation metadata follows:</p>
    <ul style="list-style-type: disc">
      <li>Registration ID: {{ .registration_id }}</li>
      <li>Registration URL: <code>{{ .registration_url }}</code></li>
      <li>Session ID: {{ .session_id }}</li>
      <li>Request ID: {{ .request_id }}</li>
      <li>Username: <code>{{ .username }}</code></li>
      <li>Email: <code>{{ .email }}</code></li>
      <li>IP Address: <code>{{ .src_ip }}</code></li>
      <li>Timestamp: {{ .timestamp }}</li>
    </ul>
  </body>
</html>
